<section class="brands">
    <div class="brands__wrp container">
        <h2 class="brands__heading">
            Бренды
        </h2>
        <div class="brands__items">
            <div class="brands__item">
                <img src="/img/brands/abat.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/apach.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/atesy.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/brema.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/cas.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/cool.jpg" alt="" class="brands__img">
            </div>
            
            <div class="brands__item">
                <img src="/img/brands/viatto.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/mxm.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/sirman.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/fimar.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/castrorag.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/unox.jpg" alt="" class="brands__img">
            </div>

            <div class="brands__item">
                <img src="/img/brands/hicold.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/rational.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/robot-coupe.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/gemlux.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/kocateq.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/simonelli.jpg" alt="" class="brands__img">
            </div>
            
            <div class="brands__item">
                <img src="/img/brands/polus.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/snej.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/polair.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/gabino.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/gam.jpg" alt="" class="brands__img">
            </div>
            <div class="brands__item">
                <img src="/img/brands/gastrolux.jpg" alt="" class="brands__img">
            </div>

        </div>

    </div>
</section>