<!-- <header id="header" class="header">
  <div class="topbar header__topbar">
    <div class="topbar__top">
      <div class="container">
        <div class="topbar__top-inner">
          <p class="topbar__top-adress">
            г. Москва, Красная площадь, д.1
          </p>
          <div class="topbar__top-rights">
            <p class="topbar__top-worktime">Пн-Вс 8:00-20:00</p>
            <a class="topbar__top-tel" target="_blank" href="tel:+74991234567">+7 (499) 123-45-67</a>
          </div>
        </div>
      </div>
    </div>    
  </div>
</header> -->

<header class="header">
  <div class="topbar">
    <div class="topbar__top">
      <div class="container">
        <div class="topbar__top-inner">
          
          <a href="/" class="topbar__top-logo-link">
            <img
              src="/img/topbar/logo.svg"
              alt=""
              class="topbar__top-logo-img"
            />
          </a>

          <a class="topbar__map-link" href="#">
            <img
              src="/img/topbar/map-icon.svg"
              alt=""
              class="topbar__map-icon"
            />
            <span>Москва</span>
          </a>

          <nav class="topbar__top-rights">
            <ul class="topbar__top-links">
              <li class="topbar__top-li">
                <a href="#" class="topbar__top-link">О нас</a>
              </li>
              <li class="topbar__top-li">
                <a href="#" class="topbar__top-link">Проектирование</a>
              </li>
              <li class="topbar__top-li">
                <a href="#" class="topbar__top-link">Лизинг</a>
              </li>
              <li class="topbar__top-li">
                <a href="#" class="topbar__top-link">Гарантия</a>
              </li>
              <li class="topbar__top-li">
                <a href="#" class="topbar__top-link">Контакты</a>
              </li>
            </ul>
            <div class="topbar__comm">
              <a href="#" class="topbar__whatsapp-link"><img class="topbar__whatsapp-img" alt="" src="/img/topbar/whatsapp-green.svg"></a>                        
              <a href="#" class="topbar__tel">8 800 123-45-67</a>
            </div>
          </nav>
          <div class="topbar__hamburger-wrapper">
            <div class="topbar__hamburger"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
