<section class="contacts page__contacts">
  <div class="contacts__wrp container">
      <h2 class="contacts__heading">
          Контакты
      </h2>
      <div class="contacts__inner">
        <div class="contacts__text">
          <p class="contacts__caption">График работы</p>
          <p class="contacts__val">08:00 - 19:00</p>

          <p class="contacts__caption">Телефон</p>
          <p class="contacts__val">8 800 123-45-67</p>

          <p class="contacts__caption">Почта</p>
          <a href="mailto:russianbox@mail.ru" class="contacts__email">russianbox@mail.ru</a>

          <p class="contacts__caption">Адрес</p>
          <p class="contacts__val">Москва, Красная площадь, д.1</p>
        </div>


        //= order/order.html
        

      </div>
  </div>
</section>