// X-Small devices (portrait phones, less than 576px)
.order {
  width: 100%;
  background: #eee;
  padding: 15px;
  border-radius: 10px;

  &__wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-family: 'Gilroy Medium';
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0 25px;
  }
}

.order__form {
  margin-top: 0px;
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__name-wrp {
    position: relative;
    width: 100%;
    height: 50px;
  }

  &__name {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 15px 25px 15px 30px;
    font-size: 16x;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    border: 0;
    outline: none;

    &[placeholder] {
      padding-left: 15px;
      color: #666 !important;
      font-size: 16x;
      font-weight: 400;
    }

    &:focus {
      outline: 1px solid #af9a7b;
    }
  }

  &__name-placeholder {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 60%;
    padding: 5px;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    outline: none;
    transition: all 200ms;
  }

  %error-img-style {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 25px;
    height: auto;
    line-height: normal;
    border: 0;
    transition: all 150ms;
  }

  &__name-error-img,
  &__phone-error-img {
    @extend %error-img-style;
    opacity: 0;
  }
  &__message-error-img {
    @extend %error-img-style;
    top: 12px !important;
    transform: translateY(0) !important;
    opacity: 0;
  }

  &__name-error-text,
  &__phone-error-text,
  &__message-error-text {
    opacity: 0;
  }

  &__name-placeholder.phMove {
    top: 0;
    left: 0;
    width: auto;
    padding: 2px 6px;
    font-size: 14px;
    color: #f1c012;
    border-radius: 5px 5px 0 0;
    background: #fff;
  }

  &__phone-wrp {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 50px;
  }

  &__phone {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 15px 25px 15px 30px;
    font-size: 16x;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    border: 0;
    outline: none;

    &[placeholder] {
      padding-left: 15px;
      color: #666 !important;
      font-size: 16x;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &:focus {
      outline: 1px solid #af9a7b;
    }
  }

  &__phone-placeholder {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 80%;
    padding: 5px;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    outline: none;
    background: #fff;
    transition: all 200ms;
  }

  &__phone-placeholder.phMove {
    top: 0;
    left: 0;
    width: auto;
    padding: 2px 6px;
    font-size: 14px;
    color: #f1c012;
    border-radius: 5px 5px 0 0;
    background: #fff;
  }

  &__message-wrp {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 191px;
  }

  &__message {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 15px 25px 15px 30px;
    font-size: 16x;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    border: 0;
    outline: none;
    resize: none;

    &[placeholder] {
      padding-left: 15px;
      color: #666 !important;
      font-size: 16x;
      font-weight: 400;
    }

    &:focus {
      outline: 1px solid #af9a7b;
    }
  }

  &__message-placeholder {
    position: absolute;
    top: 12px;
    left: 15px;
    width: 60%;
    padding: 5px;
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    transition: all 200ms;
  }

  &__message-placeholder.phMove {
    top: -12px;
    left: 1px;
    width: auto;
    padding: 2px 6px;
    font-size: 14px;
    color: #f1c012;
    border-radius: 5px 5px 0 0;
    background: #fff;
  }

  &__button {
    width: 100%;
    margin-top: 20px;
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #F1C012;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    outline: none;
    cursor: pointer;
  }
}

// /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .order {
    padding: 40px 20px 20px;
    margin: 0;

    &__wrp {
      align-items: flex-start;
      width: 100%;
    }

    &__heading {
      text-align: left;
      margin: 0;
    }
  }

  .order-form {
    margin-top: 20px;

    &__name-placeholder:hover,
    &__phone-placeholder:hover,
    &__message-placeholder:hover {
      cursor: text;
    }

    &__name-error-text,
    &__phone-error-text,
    &__message-error-text {
      position: absolute;
      opacity: 0;
      top: 50%;
      right: 40px;      
      transform: translateY(-50%);
      padding: 4px 12px;
      font-style: normal;
      font-weight: 400;
      color: #c80000;
      white-space: nowrap;
      border: 1px solid #c80000;
      border-radius: 12px;
      transition: all 150ms ease-in-out;
    }

    &__message-error-text {
      top: 19px;
      transform: translateY(0);
    }
    // .no-before {
    //   // добавляем класс для удаления `content` из псевдоэлемента,
    //   // применяем к `order-form__name-error-img` при корректной валидации
    //   &::before {
    //     content: "";
    //     border: none;
    //   }
    // }

    &__name:not(.checked):hover ~ &__name-error-img,
    &__name:not(.checked):focus ~ &__name-error-img,
    &__name-placeholder:hover ~ &__name-error-img,
    &__name:not(.checked):hover ~ &__name-error-text,
    &__name:not(.checked):focus ~ &__name-error-text,    
    &__name-placeholder:hover ~ &__name-error-text,

    &__phone:not(.checked):hover ~ &__phone-error-img,
    &__phone:not(.checked):focus ~ &__phone-error-img,
    &__phone-placeholder:hover ~ &__phone-error-img,
    &__phone:not(.checked):hover ~ &__phone-error-text,
    &__phone:not(.checked):focus ~ &__phone-error-text,
    &__phone-placeholder:hover ~ &__phone-error-text,

    &__message:not(.checked):hover ~ &__message-error-img,
    &__message:not(.checked):focus ~ &__message-error-img,
    &__message-placeholder:hover ~ &__message-error-img,
    &__message:not(.checked):hover ~ &__message-error-text,
    &__message:not(.checked):focus ~ &__message-error-text,
    &__message-placeholder:hover ~ &__message-error-text {
      opacity: 1;
    }

    &__message-error-img {
      top: 20px !important;
      transform: translateY(0) !important;
      opacity: 0;
    }

    &__button {
      width: unset;
      align-self: start;
      padding: 15px 30px;
      color: #000;
    }
  }
}

// /* X-Large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) {
//   .order {
//     padding-top: 30px;
//     padding-bottom: 86px;
//     // background: linear-gradient(70deg, #171F2C 48.11%, #3C191F 117.98%);

//     &__wrp {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//     }

//     &__heading {
//       font-size: 57px;
//       font-style: normal;
//       line-height: normal;

//       span {
//         color: #ee6025;
//         font-size: 57px;
//         font-style: normal;
//         line-height: normal;
//       }
//     }
//   }

//   .order-form {
//     &__button {
//       margin-top: 46px;
//       padding: 20px 100px;
//       width: 40%;
//       display: flex;      
//       justify-content: center;
//       align-items: center;
//       gap: 10px;
//       border-radius: 10px;
//       font-size: 32px;
//       font-style: normal;
//       font-weight: 400;
//       line-height: normal;
//       color: #fff;
//       cursor: pointer;
//     }
//   }
// }

// /* XX-Large devices (larger desktops, 1400px and up) */
// @media (min-width: 1400px) {

//   .order-form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 60%;

//     &__name-wrp {
//       position: relative;
//       width: 690px;
//       height: 50px;
//     }

//     &__name {
//       position: absolute;
//       top: 0;
//       left: 50%;
//       transform: translateX(-50%);
//       width: 100%;
//       padding: 15px 25px 15px 30px;
//       font-size: 20px;
//       width: 100%;
//       height: 100%;
//       background: transparent;
//       border-radius: 10px;

//       &[placeholder] {
//         padding-left: 48px;
//         color: #666 !important;
//         font-size: 32px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: normal;
//       }

//       &:focus {
//         outline: 1px solid #af9a7b;
//       }
//     }

//     &__name-placeholder {
//       position: absolute;
//       top: 50%;
//       left: 28px;
//       transform: translateY(-50%);
//       width: 60%;
//       padding: 5px;
//       color: #666;
//       font-size: 32px;
//       font-style: normal;
//       font-weight: 400;
//       line-height: normal;
//       border: 0;
//       // border-radius: 50px;
//       background: #fff;
//       transition: all 200ms;
//     }

//     &__name-placeholder.phMove {
//       top: 0px;
//       font-size: 14px;
//     }

//     &__phone-wrp {
//       position: relative;
//       margin-top: 45px;
//       width: 690px;
//       height: 50px;
//     }

//     &__phone {
//       position: absolute;
//       top: 0;
//       left: 50%;
//       transform: translateX(-50%);
//       width: 100%;
//       padding: 15px 25px 15px 30px;
//       font-size: 20px;
//       width: 100%;
//       height: 100%;
//       background: transparent;
      // box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.9);
//       border-radius: 10px;

//       &[placeholder] {
//         padding-left: 48px;
//         color: #666 !important;
//         font-size: 32px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: normal;
//       }

//       &:focus {
//         outline: 1px solid #af9a7b;
//       }
//     }

//     &__phone-placeholder {
//       position: absolute;
//       top: 50%;
//       left: 28px;
//       transform: translateY(-50%);
//       width: 60%;
//       padding: 5px;
//       color: #666;
//       font-size: 32px;
//       font-style: normal;
//       font-weight: 400;
//       line-height: normal;
//       border: 0;
//       // border-radius: 50px;
//       background: #fff;
//       transition: all 200ms;
//     }

//     &__phone-placeholder.phMove {
//       top: 0px;
//       font-size: 14px;
//     }

//     &__message-wrp {
//       position: relative;
//       margin-top: 45px;
//       width: 690px;
//       height: 191px;
//     }

//     &__message {
//       position: absolute;
//       top: 0;
//       left: 50%;
//       transform: translateX(-50%);
//       width: 100%;
//       padding: 15px 25px 15px 30px;
//       font-size: 20px;
//       width: 100%;
//       height: 100%;
//       background: transparent;
//       border-radius: 10px;
//       resize: none;

//       &[placeholder] {
//         padding-left: 48px;
//         color: #666 !important;
//         font-size: 16x;
//         font-style: normal;
//         font-weight: 400;
//         line-height: normal;
//       }

//       &:focus {
//         outline: 1px solid #af9a7b;
//       }
//     }

//     &__message-placeholder {
//       position: absolute;
//       top: 12px;
//       left: 28px;
//       width: 60%;
//       padding: 5px;
//       color: #666;
//       font-size: 32px;
//       font-style: normal;
//       font-weight: 400;
//       line-height: normal;
//       border: 0;
//       background: #fff;
//       transition: all 200ms;
//     }

//     &__message-placeholder.phMove {
//       top: -15px;
//       font-size: 14px;
//     }    
//   }
// }
