<section class="catalog">
  <div class="catalog__wrp container">
      <h2 class="catalog__heading">
          Каталог
      </h2>
      <div class="catalog__items">
          <a href="#" class="catalog__item">
              <img src="/img/catalog/cafe.svg" alt="" class="catalog__img">
              <p class="catalog__name">Кафе</p>
          </a>
          <a href="#" class="catalog__item">
              <img src="/img/catalog/pastries.svg" alt="" class="catalog__img">
              <p class="catalog__name">Кондитерские магазины</p>
          </a>
          <a href="#" class="catalog__item">
              <img src="/img/catalog/fastfood.svg" alt="" class="catalog__img">
              <p class="catalog__name">Фастфуд</p>
          </a>
          <a href="#" class="catalog__item">
              <img src="/img/catalog/supermarkets.svg" alt="" class="catalog__img">
              <p class="catalog__name">Супермаркеты</p>
          </a>

          <a href="#" class="catalog__item">
              <img src="/img/catalog/pizzeria.svg" alt="" class="catalog__img">
              <p class="catalog__name">Пиццерия</p>
          </a>
          <a href="#" class="catalog__item">
              <img src="/img/catalog/pubs.svg" alt="" class="catalog__img">
              <p class="catalog__name">Бары и пабы</p>
          </a>
          <a href="#" class="catalog__item">
              <img src="/img/catalog/restaurants.svg" alt="" class="catalog__img">
              <p class="catalog__name">Рестораны</p>
          </a>
          <a href="#" class="catalog__item">
              <img src="/img/catalog/pizzeria.svg" alt="" class="catalog__img">
              <p class="catalog__name">Пекарни</p>
          </a>

          <a href="#" class="catalog__item">
            <img src="/img/catalog/coffee-shops.svg" alt="" class="catalog__img">
            <p class="catalog__name">Кофейни</p>
        </a>
        <a href="#" class="catalog__item">
            <img src="/img/catalog/food-trucks.svg" alt="" class="catalog__img">
            <p class="catalog__name">Фуд-траки</p>
        </a>
        <a href="#" class="catalog__item">
            <img src="/img/catalog/dining-rooms.svg" alt="" class="catalog__img">
            <p class="catalog__name">Столовые</p>
        </a>
        <a href="#" class="catalog__item">
            <img src="/img/catalog/storages.svg" alt="" class="catalog__img">
            <p class="catalog__name">Склады</p>
        </a>
      </div>

  </div>
</section>