<section class="benefits">
  <div class="container">
    <div class="benefits__wrp">
      <div class="benefits__benefit">
        <img src="/img/benefits/all-country.svg" alt="" class="benefits__img">
        <p class="benefits__name">Работаем по всей российской федерации</p>
      </div>
      <div class="benefits__benefit">
        <img src="/img/benefits/quality.svg" alt="" class="benefits__img">
        <p class="benefits__name">Гарантия качества 
          на все оборудование</p>
      </div>
      <div class="benefits__benefit">
        <img src="/img/benefits/experience.svg" alt="" class="benefits__img">
        <p class="benefits__name">12 лет опыта</p>
      </div>
      <div class="benefits__benefit">
        <img src="/img/benefits/leasing.svg" alt="" class="benefits__img">
        <p class="benefits__name">Покупка в лизинг</p>
      </div>
      <div class="benefits__benefit">
        <img src="/img/benefits/help.svg" alt="" class="benefits__img">
        <p class="benefits__name">Помощь в подборе оборудования</p>
      </div>
    </div>
  </div>
</section>