.page__discounts {
  margin-top: 0;    
}

.discounts {
    position: static;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    background: #dadada;

    .container {
      padding: 0;
    }

    &__heading {
      font-size: 26px;
      text-align: center;
      margin-bottom: 24px;
      text-transform: uppercase;
    }

    &__wrp {
        display: flex;
        justify-content: space-between;
        height: inherit;

        // &.container {
        //     padding: 0 0 0 15px;
        // }
    }

    .swiper {
        width: 100%;
        height: inherit;
        padding: 0 15px;
    }

    .swiper-wrapper {
        height: inherit;
    }

    &__card {
        position: relative;
        overflow: hidden;
        height: inherit;
        border-radius: 4px;
        text-decoration: none;
    }

    &__img {
        width: 100%;
        height: auto;
        min-height: 225px;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
    }

    &__name {
        margin-top: 10px;
        font-size: 18px;
        color: #000;
        font-style: normal;
        line-height: normal;
        text-align: center;
        text-decoration: none;
        margin-inline: auto;
    }

    &__price-wrp {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }
    &__price {
      font-weight: 900;
    }
    &__price-discount {
      margin-left: 10px;
      opacity: .5;
      text-decoration: line-through;
	    text-decoration-color: red;
    }
}

// /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .discounts {
    margin-right: 15px;
    padding-top: 70px;
    padding-bottom: 60px;

    .container {
      padding: 0 15px;
    }
    .swiper {
      padding: 0;
    }

    &__heading {
      text-align: left;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .discounts {
    &__heading {
      font-size: 50px;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
  .discounts {
    margin-right: 15px;
  }
}
