<section class="discounts page__discounts">
  <h2 class="discounts__heading">Акции и скидки</h2>
  <div class="discounts__wrp container">
    <div class="swiper navSwiper">
      <div class="swiper-wrapper">
          <a href="#" class="discounts__card swiper-slide">
            <img
              class="discounts__img"
              src="/img/discounts/photo-01.jpg"
              alt=""
            />
            <p class="discounts__name">Кофемашина Vertine Big ЭП-2ЖШ</p>
            <div class="discounts__price-wrp">
              <p class="discounts__price">56.768₽</p>
              <p class="discounts__price-discount">76.768₽</p>
            </div>
          </a>
          <a href="#" class="discounts__card swiper-slide">
            <img
              class="discounts__img"
              src="/img/discounts/photo-02.jpg"
              alt=""
            />
            <p class="discounts__name">Посудомоечная машина Apach ЭП-2ЖШ</p>
            <div class="discounts__price-wrp">
              <p class="discounts__price">56.768₽</p>
              <p class="discounts__price-discount">76.768₽</p>
            </div>
          </a>
          <a href="#" class="discounts__card swiper-slide">
            <img
              class="discounts__img"
              src="/img/discounts/photo-03.jpg"
              alt=""
            />
            <p class="discounts__name">Плита электрическая Abat ЭП-2ЖШ</p>
            <div class="discounts__price-wrp">
              <p class="discounts__price">56.768₽</p>
              <p class="discounts__price-discount">76.768₽</p>
            </div>
          </a>
          <a href="#" class="discounts__card swiper-slide">
            <img
              class="discounts__img"
              src="/img/discounts/photo-04.jpg"
              alt=""
            />
            <p class="discounts__name">Сковорода опрокидывающаяся Kocateq MCEB 87</p>
            <div class="discounts__price-wrp">
              <p class="discounts__price">56.768₽</p>
              <p class="discounts__price-discount">76.768₽</p>
            </div>
          </a>
      </div>

    </div>
    
  </div>
</section>
