// X-Small devices (portrait phones, less than 576px)
.order {
  // position: absolute;
  // top: 510px;
  // left: 0;
  order: 4;
  width: 100%;
  margin: 0;
  padding: 0 15px;

  &__heading {
    margin: 0;
    font-size: 28px;
    text-align: center;

    span {
      color: $color_main_brand;
      font-size: 38px;
    }
  }
}

.order__form {
  margin-top: 0;
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  %error-style {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
    line-height: normal;
    border: 0;
    transition: all 150ms;
  }

  &__phone-error {
    @extend %error-style;
    opacity: 0;
  }

  &__message-error {
    @extend %error-style;
    top: 12px !important;
    transform: translateY(0) !important;
    opacity: 0;
  }

  &__phone-wrp {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 58px;
  }

  &__phone {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 15px 25px 15px 30px;
    font-size: 22px;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    border: 1px solid #333;

    &[placeholder] {
      padding-left: 35px;
      color: #666 !important;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &:focus {
      outline: 1px solid #af9a7b;
    }
  }

  &__phone-placeholder {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    width: 80%;
    padding: 5px;
    color: #888;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    background: #f5f5f5;
    transition: all 200ms;
  }

  &__phone-placeholder.phMove {
    top: 0px;
    width: auto;
    font-size: 16px;
    color: #222;
    background: #f5f5f5;
  }

  &__message-wrp {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 191px;
  }

  &__button {
    width: 100%;
    height: 58px;
    margin-top: 20px;
    display: flex;
    padding: 18px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    border-radius: 10px;
    background: $color_main_brand;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    cursor: pointer;
  }
}

// /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .order {
    position: absolute;
    top: 446px;
    left: 0;

    &__heading {
      margin: 0;
      margin-left: 20px;
      text-align: left;
      font-size: 24px;

      span {
        color: #000;
        font-size: 24px;
      }
    }
  }

  .order-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-left: 20px;
    margin-top: -10px;

    %error-before-style {
      position: absolute;
      opacity: 0;
      top: 50%;
      right: 40px;
      padding: 10px;
      transform: translateY(-50%);
      font-size: 22x;
      font-style: normal;
      font-weight: 400;
      color: #c80000;
      white-space: nowrap;
      border: 1px solid #c80000;
      border-radius: 12px;
      transition: all 300ms ease-in-out;
    }
    .no-before {
      // добавляем класс для удаления `content` из псевдоэлемента,
      // применяем к `order-form__name-error` при корректной валидации
      &::before {
        content: "";
        border: none;
      }
    }

    &__phone:hover ~ &__phone-error::before,
    &__phone:focus ~ &__phone-error::before,
    &__phone-placeholder:hover ~ &__phone-error::before {
      opacity: 1;
    }

    &__phone-error {
      opacity: 0;
    }

    &__phone-wrp {
      position: relative;
      margin-top: 20px;
      width: 22%;
      height: 58px;
      margin-right: 15px;
    }

    &__phone {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      padding: 15px 25px 15px 30px;
      font-size: 26px;
      width: 100%;
      height: 100%;
      background: transparent;

      &[placeholder] {
        padding-left: 20px;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      &:focus {
        outline: 1px solid #af9a7b;
      }
    }

    &__phone-placeholder {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      width: 80%;
      padding: 5px;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: 0;
      transition: all 200ms;
    }

    &__phone-placeholder.phMove {
      top: 0px;
      font-size: 16px;
    }

    &__button {
      width: 14%;
      height: 58px;
      margin-top: 20px;
      display: flex;
      padding: 20px 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #fff;
      cursor: pointer;
    }
  }
}

// /* X-Large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) {
//   .order {
//     width: 100%;
//     padding-top: 30px;
//     padding-bottom: 86px;
//     // background: linear-gradient(70deg, #171F2C 48.11%, #3C191F 117.98%);

//     &__wrp {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//     }

//     &__heading {
//       font-size: 38px;
//       text-align: center;

//       span {
//         font-size: 57px;
//       }
//     }
//   }

//   .order-form {
//     &__button {
//       margin-top: 46px;
//       padding: 20px 100px;
//       width: 40%;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       gap: 10px;
//       border-radius: 28px;
//       font-size: 32px;
//       font-style: normal;
//       font-weight: 400;
//       line-height: normal;
//       color: #fff;
//       cursor: pointer;
//     }
//   }
// }

// /* XX-Large devices (larger desktops, 1400px and up) */
// @media (min-width: 1400px) {

//   .order-form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 100%;

//     &__phone-wrp {
//       position: relative;
//       margin-top: 45px;
//       width: 690px;
//       height: 90px;
//     }

//     &__phone {
//       position: absolute;
//       top: 0;
//       left: 50%;
//       transform: translateX(-50%);
//       width: 100%;
//       padding: 15px 25px 15px 30px;
//       font-size: 20px;
//       width: 100%;
//       height: 100%;
//       background: transparent;
//       // box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.08);
//       border-radius: 28px;

//       &[placeholder] {
//         padding-left: 48px;
//         color: #666 !important;
//         font-size: 32px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: normal;
//       }

//       &:focus {
//         outline: 1px solid #af9a7b;
//       }
//     }

//     &__phone-placeholder {
//       position: absolute;
//       top: 50%;
//       left: 28px;
//       transform: translateY(-50%);
//       width: 60%;
//       padding: 5px;
//       color: #666;
//       font-size: 32px;
//       font-style: normal;
//       font-weight: 400;
//       line-height: normal;
//       border: 0;
//       transition: all 200ms;
//     }

//     &__phone-placeholder.phMove {
//       top: 0px;
//       font-size: 16px;
//     }  
//   }
// }
