<section class="certs page__certs">
  <h2 class="certs__heading">Cертификаты</h2>
  <div class="certs__wrp container">
    <div class="swiper certsSwiper">
      <div class="swiper-wrapper">
          <a class="certs__card swiper-slide" data-fslightbox="certs-gallery" href="/img/certs/cert-sample-1.jpg">
            <img
              class="certs__img"
              src="/img/certs/cert-sample-1.jpg"
              alt=""
            />            
          </a>
          <a class="certs__card swiper-slide" data-fslightbox="certs-gallery" href="/img/certs/cert-sample-2.jpg">
            <img
              class="certs__img"
              src="/img/certs/cert-sample-2.jpg"
              alt=""
            />
          </a>
          <a class="certs__card swiper-slide" data-fslightbox="certs-gallery" href="/img/certs/cert-sample-3.jpg">
            <img
              class="certs__img"
              src="/img/certs/cert-sample-3.jpg"
              alt=""
            />
          </a>
          <a class="certs__card swiper-slide" data-fslightbox="certs-gallery" href="/img/certs/cert-sample-4.jpg">
            <img
              class="certs__img"
              src="/img/certs/cert-sample-4.jpg"
              alt=""
            />
          </a>
          <a class="certs__card swiper-slide" data-fslightbox="certs-gallery" href="/img/certs/cert-sample-5.jpg">
            <img
              class="certs__img"
              src="/img/certs/cert-sample-5.jpg"
              alt=""
            />
          </a>
          <a class="certs__card swiper-slide" data-fslightbox="certs-gallery" href="/img/certs/cert-sample-6.jpg">
            <img
              class="certs__img"
              src="/img/certs/cert-sample-6.jpg"
              alt=""
            />
          </a>
      </div>
    </div>
    
  </div>
</section>
