// @import 'order/order';

// X-Small devices (portrait phones, less than 576px)
.first-screen {
  padding-top: 58px;
  padding-bottom: 20px;

  &__inner {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: inherit;
  }

  &__title {
    order: 1;
    text-align: center;
    font-family: 'Gilroy Medium';
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
  }
  &__bg {
    order: 3;
    width: 580px;
    margin-left: -125px;
    height: auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .first-screen {
    padding-top: 0;
    background: #fff;
    height: 657px;

    &__inner {
      position: relative;
      overflow-x: visible;
      display: block;
      width: 100%;
      height: 715px;
    }
  
    &__title-wrp {
      position: absolute;
      left: -9px;
      bottom: 58px;
      width: 650px;
      
      &::before {
        content: "";
        position: absolute;
        top: -31px;
        left: 9px;
        display: block;
        width: 20px;
        height: 20px;
        background: radial-gradient(40px at top right, transparent 49%, #fff 51%) no-repeat;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        right: 29px;
        display: block;
        width: 20px;
        height: 20px;
        background: radial-gradient(40px at top right, transparent 49%, #fff 51%) no-repeat;
      }
    }
    &__title {
      display: inline;
      // position: relative;
      z-index: 9999999;
      left: 0;
      padding: 10px 14px;
      font-family: 'Gilroy Medium';
      font-size: 60px;
      text-align: left;
      background-color: #fff;
      border-radius: 13px;
      box-decoration-break: clone;      
    }

    &__bg {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      margin: 0;
      border-radius: 20px;
    }
  }
}